@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  @apply bg-white font-normal text-sm text-black;
}

.wrapper {
  @apply bg-white max-w-[390px] m-auto px-4 relative z-0;

  &::after {
    @apply absolute bottom-0 left-0 z-[-1] block h-[20rem] w-full
      bg-blue;
    content: "";
    mask-image: url("./assets/images/deco.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

.headings {
  @apply text-3xl font-medium text-blue;
}

.headings-sm {
  @apply text-xl font-medium text-blue;
}

.content-sm {
  @apply text-xs text-black;
}

.shadow {
  box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.05);
}

.small-shadow {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  @apply bg-blue text-white font-medium text-base	rounded-full border-none px-4 w-full;
  &:focus {
    @apply outline-blue;
  }
  &:active,
  &:hover {
    @apply bg-blue;
  }
}

input {
  &:focus {
    @apply outline-blue;
  }
}

.marker,
.marker-arene {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  background-image: url("./assets/images/marker.svg");
  background-size: contain;
  width: 8rem;
  height: 8rem;
}
