<div class="wrapper h-screen" *ngIf="qrcode === null">
    <app-header></app-header>
    <main>
        <header>
            <h1 class="headings mb-2">Bons de réductions</h1>
            <p>
                Profitez des meilleures offres et des réductions les plus
                avantageuses sur une large sélection de produits et de services.
            </p>
        </header>

        <ul class="flex flex-col gap-4 mt-8">
            <li *ngFor="let bonAchat of bonsAchats">
                <app-bon-achat
                    [bonAchat]="bonAchat"
                    [credits]="credits"
                    (achat)="showQrCode($event)"
                ></app-bon-achat>
            </li>
        </ul>
    </main>
</div>

<app-qrcode *ngIf="qrcode !== null" [bonAchat]="qrcode"></app-qrcode>
