<div class="h-screen wrapper">
   <main class="flex flex-col justify-center items-center h-screen">
      <h1 class="text-[#0043C6] font-semibold text-6xl mb-2">404</h1>
      <p class="text-[##161616] font-normal text-sm mb-12">Tu t'es perdu en mer matelot ?</p>
      <a class="uppercase py-4 px-10 rounded-[48px] text-white bg-[#332FD0] text-center text-base font-medium	"
         href="/">Revenir à la terre
         ferme</a>
      <img class="w-14 mx-auto mt-auto bottom-[60px] absolute" src="./../../../assets/images/logo-icon.png" alt="">
   </main>
</div>