.mesArenesListe .mesArenes{
   background-image: url(./../../../assets/images/arenes_background.svg);
   background-size: 80px;
   background-position: bottom right;
   background-repeat: no-repeat;
}
