<article class="flex flex-row justify-between bg-white w-full p-4 rounded-3xl shadow text-left relative overflow-hidden">
    <div>
        <h2 class="headings-sm">
            La Petite Sirène
        </h2>
        <p class="content-sm mt-3">
            Lorem ipsum dolor sit amet consectetur. Et lobortis vestibulum velit malesuada sit.
        </p>
        <a href="https://www.nautic17.fr/">
            https://www.nautic17.fr/
        </a>
    </div>

    <div class="flex flex-row items-c gap-2 mt-1 shrink-0">
        <img src="../../../assets/images/icone-loc.svg" alt="" class="h-4 w-4">
        <span>
            La Rochelle
        </span>
        
    </div>

    <img src="../../../assets/images/bon-achat.svg" alt="" class="absolute right-0 bottom-0">
</article>