.classement .grid-classement {
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
}

.classement ul > .user {
  font-weight: 700;
  color: #0043c6;
}

.classement ul > li:nth-child(9) {
  @apply mt-8;
  @apply pt-4;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: 50%;
    background: black;
    margin: auto;
    left: 25%;
  }
}
