<main class="text-center flex flex-col gap-12">
    <header>
        <h1 class="headings mb-2">
            Faites vous plaisir !
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur. Et lobortis vestibulum velit malesuada sit.
        </p>
    </header>

    <section class="flex flex-col gap-4">
        <div class="qr-code p-40 bg-grey"></div>
        <article>
            <p class="font-medium pb-2">-10% chez nos magasins partenaires.</p>
            <p class="font-bold text-blue text-[1.125rem]">CODE : 012SSCQDVSD34D5</p>
        </article>
    </section>
</main>