#mapContainer {
  position: relative;
  top: 0;
  z-index: 0;
  height: 100vh;
  width: 100%;
}

.meteo{
    position: absolute;
width: 70px;
height: 140px;
left: 78vw;
top: 10px;

background: #FFFFFF;
box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.1);
border-radius: 38px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.temperature{
    background-color:#0043C6 ;
    border-radius: 100px;
    color:white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteo--icon{
    height: 60px;
}